.skdk-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-height: calc(100vh - 6rem);
  align-items: center;
  width: 100%;
  padding: 0.75rem;

  @apply m-auto rounded-lg bg-primary  dark:bg-black;
  @screen sm {
    padding: 4rem;
  }

  #skdk-inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 4rem;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed !important;
      * {
        pointer-events: none;
      }
    }

    @apply max-w-4xl;
  }
}

input {
  background: var(--fallback-bc, oklch(var(--bc) / 1));
  border: 2px var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
  color: black;
}

.color-mode-toggle {
  @apply absolute right-3 top-3;
}

.connect-status {
  @apply absolute left-3 top-3 rounded-md bg-skdk px-2 py-1 text-xs text-primary;
  
  .connected-status {
    @apply text-green-400;
  }
  
  .disconnected-status {
    @apply text-red-400;
  }
}

.connect-section {
  @apply -mb-8 flex justify-center;
}

.page-title {
  @apply my-8 flex flex-col items-center;
  h1 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-sm font-medium;
  }
  @screen sm {
    h1 {
      @apply text-5xl;
    }

    h3 {
      @apply text-xl;
    }
  }
}

// Import component styles
@import "./components/ModeSelector/ModeSelector.scss";
@import "./components/FirmwareFlashing/FirmwareFlashing.scss";
