.config-container {
  @apply m-3 flex gap-6;
}

.config-section {
  @apply flex flex-grow flex-col gap-3;
}

.config-section-title {
  @apply border-b-[0.2rem] border-skdk pb-2 font-82XC text-xl dark:border-primary dark:text-primary;
}

.form-control {
  align-items: start !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.label-text {
  @apply font-82XC;
}

input[type="number"] {
  background: var(--fallback-bc, oklch(var(--bc) / 1));
  border: 2px var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
  color: black;
}

input[type="checkbox"] {
  --tglbg: var(--fallback-bc, oklch(var(--bc) / 1));
  --handleoffset: 1.5rem;
  background: var(--fallback-b1, oklch(var(--b1) / 1));

  &:hover {
    background: var(--fallback-b1, oklch(var(--b1) / 1));
  }
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--fallback-b1, oklch(var(--b1) / 0.8));
  border-radius: 0;
  border: 0;
}

.config-color {
  @apply h-10 w-20 cursor-pointer border-[0.2rem] border-skdk bg-transparent transition-colors dark:border-gray-600;
  &:hover {
    @apply border-secondary dark:border-secondary;
  }
}

.config-actions {
  @apply mx-3 mb-3 flex justify-start;
}

.config-save-btn {
  @apply border-[0.2rem] border-skdk bg-skdk px-8 py-3 font-82ND font-bold text-primary transition-all dark:border-gray-600 dark:bg-gray-800;
  &:hover {
    @apply border-secondary bg-secondary dark:border-secondary dark:bg-secondary;
  }
}
